
@import 'bourbon';
@import 'neat';

//VAR
//colors
$primary-color: #333;
$primary-text-color: #fff;
$background-color: #000;
$background-color-red: #e34e33;
$link-color: #e34e33;
$text-color-grey: #9f9f9f;
$text-color-teal: #67d9da;
$text-color-red: #d90e0a;
$background-color-transparent: rgba(0, 0, 0, .8);

// Define your breakpoints
$tablet: new-breakpoint(max-width 1023px 8);
$mobile: new-breakpoint(max-width 768px 4);

// Neat Overrides
$max-width: em(940);
$gutter: 0 20px;

html {
  overflow: auto;
}
body {
  width: 100%;
  overflow: hidden;
  color: $primary-text-color;
  background: $background-color;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: $link-color;
  text-decoration: none;
}
h1 {}
h2 {
  font-size: 36px;
  a {
    font-size: 36px;
  }
}

header {
  position: fixed;
  width: 100%;
  background: $background-color-transparent;
  z-index: 10;
  height: 60px;
  .container {
    position: relative;
    @include outer-container;
    @include media($tablet) {
      padding: $gutter;
    }
    a#main-logo {
      display: inline-block;
      background: url(../assets/images/envoy-main-logo.gif);
      width: 87px;
      height: 25px;
      background-size: 87px;
      position: relative;
      top: 14px;
      @include media($mobile) {
        top: 19px;
      }
      h1{
        display: none;
      }
    }
    nav {
      display: inline-block;
      @include media($mobile) {
        display: block;
        background: $background-color-transparent;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0px;
      }
      ul {
        display: block;
        @include media($mobile) {
          display: none;
        }
        &.active {
          display: block;;
        }
        padding: 0;
        margin-left: 20px;
        position: relative;
        top: 12px;
        @include media($mobile) {
          top: 0;
        }
        li {
          display: inline-block;
          margin-right: 10px;
          @include media($mobile) {
            display: block;
            margin-right: 0;
            padding: 10px 0;
          }
          a {
            color: #fff;
            text-decoration: none;
            &:hover {
              color: $text-color-grey;
            }
            &.active {
              color: $link-color;
            }
          }
        }
      }
    }
    #social-media {
      float: right;
      position: relative;
      top: 50px;
      a {
        background: #464646;
        width: 180px;
        height: 40px;
        display: block;
        padding: 7px 17px;
        font-size: 13px;
        color: $text-color-teal;
        position: absolute;
        right: 0;
        bottom: -10px;
        @include media($tablet) {
          right: 20px;
        }
        &:before {
          content: '';
          background: url(../assets/images/twitter-bird.png);
          width: 21px;
          height: 17px;
          display: inline-block;
          margin-right: 10px;
          position: relative;
          top: 3px;
        }
        &:after {
          content: '+';
          background: $background-color-red;
          font-weight: bold;
          width: 40px;
          height: 40px;
          position: absolute;
          right: 0px;
          top: 0px;
          font-size: 30px;
          padding: 2px 11px;
          color: white;
        }
      }
      @include media($mobile) {
        display: none;
      }
    }
    #hamburger-menu {
      display: none;
      @include media($mobile) {
        display: block;
        float: right;
        color: #fff;
        font-size: 50px;
        cursor: pointer;
      }
    }
  }
}
section {
  @include media($tablet) {
    padding: $gutter;
  }
  @include outer-container;
  &#slide {
    max-width: 100%;
    margin: 0;
    position: relative;
    padding: 0;
    @include media($mobile) {
      padding-top: 60px;
    }
    //custom unslider overide
    .unslider {
      position: relative;
      .unslider-wrap.unslider-carousel>li {
        position: relative;
        &.unslider-active {
          z-index: 2;
          overflow: hidden;
        }
      }
      //arrow
      .unslider-arrow {
        position: absolute;
        bottom: 20px;
        z-index: 10;
        overflow: hidden;
        text-indent: -500px;
        background: url(../assets/images/arrows.png);
        width: 20px;
        height: 30px;
        background-position: -92px;
        @include media($mobile) {
          top: 275px;
          z-index: 13;
        }

        &.prev {
          right: 70px;
          left: auto;
          background-position: -22px;
        }
      }

      //nav
      .unslider-nav {
        position: absolute;
        bottom: 60px;
        display: block;
        z-index: 12;
        margin: 0 auto;
        display: block;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        @include media($mobile) {
          top: 280px;
        }
        ol {
          text-align: center;
          li {
            background: #fff;
            border-radius: 5px;
            display: inline-block;
            width: 10px;
            height: 10px;
            border: 1px solid #000;
            margin: 5px;
            text-indent: -5000px;
            cursor: pointer;
            &.unslider-active {
              background: $text-color-grey;
            }
            &:hover {
              background: $background-color-red;
            }
          }
        }
      }
    }

    img {
      width: 100%;
      height: auto;
      @include media($tablet) {
        height: 400px;
        width: auto;
        margin-left: -8rem;
      }
      @include media($mobile) {
        height: 360px;
        margin-left: -22rem;

      }
    }
    .slide-text {
      @include outer-container;
      position: absolute;
      top: 3rem;
      left: 20px;
      color: #000;
      max-width: $max-width;
      right: 0;
      left: 0;
      margin: auto;
      padding-right: 37rem;
      @include media($tablet) {
        top: 2rem;
        padding-left: 20px;
        padding-right: 20rem;
      }
      @media (max-width: 1280px) {
        top: 2rem;
      }
      @include media($mobile) {
        position: relative;
        background: #fff;
        padding-right: 0;
        padding: 20px;
        top: -10px;
      }
      .slide-title {
        color: $text-color-red;
        color: #d90e0a;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-size: 62px;
        line-height: 70px;
        margin-bottom: 30px;
        @media (max-width: 1280px) {
          font-size: 50px;
          line-height: 60px;
          margin-bottom: 20px;
        }
        @include media($mobile) {
          margin:0;
        }
      }
      .slide-desc {
        color: $text-color-grey;
      }
    }
  }
  &#body-text {
    border-bottom: 5px solid #282828;
    a {
      font-size: 36px;
    }
  }
  //section header
  .section-header {
    font-size: 22px;
    color: $text-color-grey;
    display: inline-block;
  }
  a {
    font-size: 13px;
    display: inline-block;
  }
  #featured-work, #wire {
    @include span-columns(12);
    .featured-item, .wire-item {
      @include span-columns(4 of 12);
      @include media($mobile) {
        @include span-columns(12 of 12);
        margin-right: 0;
      }
    }
  }
  #featured-work {
    .featured-item {
      img {
        width: 100%;
      }
      .featured-title {
        margin-top: 15px;
        font-size: 18px;
        font-weight: bold;
      }
      .featured-body {
        margin-top: 5px;
        font-size: 13px;
        font-weight: bold;
        color: $text-color-grey;
      }
      @include media($mobile) {
        margin-bottom: 50px;
      }
    }
  }
  #wire {
    .wire-item {
      @include media($mobile) {
        margin-bottom: 30px;
      }
      .wire-title {
        font-size: 36px;
        font-weight: bold;
      }
      .wire-date {
        color: $text-color-grey;
        margin: 5px 0;
        font-weight: bold;
        font-size: 13px;
      }
      &:last-child {
        .wire-title {
          color: $text-color-teal;
        }
      }
    }
  }
  .view-all {
    margin-left: 10px;
  }
}
h1,h2,h3 {

}
